<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>Filmai</servlet-name>
    <servlet-class>dmos.svarus.Filmai</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Filmai</servlet-name>
    <url-pattern>/rest/filmai/*</url-pattern>
  </servlet-mapping>

  <!--
  <servlet-mapping>
    <servlet-name></servlet-name>
    <url-pattern>/public/*</url-pattern>
  </servlet-mapping>
  -->

  <servlet>
    <servlet-name>Javascript</servlet-name>
    <servlet-class>dmos.svarus.Javascript</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Javascript</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/rest/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
